/*---------------------------------------PORTFOLIO--------------------------------*/
.statist__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
}

.statist__item::before {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 97px;
  height: 80px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.statist__item--bag::before {
  background-image: url(../img/svg/works.svg);
}

.statist__item--coffee::before {
  background-image: url(../img/svg/coffee.svg);
}

.statist__item--review::before {
  background-image: url(../img/svg/review.svg);
}

.statist__item--clients::before {
  background-image: url(../img/svg/clients.svg);
}

.statist__item {
  max-width: 280px;
  width: 100%;
  height: 289px;
  background-color: #f6f6f8;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px 0px rgba(99, 172, 229, 0.2);
}

.statist__item {
  padding-top: 100px;
  line-height: 1.3;
  text-align: center;
}


.statist__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;}
  

.statist__item span {
  margin-top: 20px;
  font-weight: 600;
  font-size: 44px;
  line-height: 1;
}