@media (max-width: 1200px) {}

@media (max-width: 1128px) {
  .section {
    padding: 70px 0;
  }

  .title {
    left: 50%;
    transform: translateX(-50%);
  }

  .header__title {
    font-size: 74px;
  }

  .header__title span {
    font-size: 28px;
  }

  .skills__list {
    margin: 0 auto;
  }

  .service__item {
    max-width: 304px;
  }

  .service__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .service__title {
    font-size: 26px;
  }

  .portfolio__gallery {
    // display: grid;
    // grid-template-columns: repeat(3,1fr);
    gap: 25px;
    // margin-bottom: 60px;
  }

}

@media (max-width: 945px) {
  .burger {
    width: 30px;
    height: 22px;
    position: relative;
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: block;
    outline: 1px solid rgba(255, 255, 255, 0);
    z-index: 2;
  }

  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
  }

  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .burger::before {
    top: 0;
  }

  .burger:focus {
    // background-color: rgba(255, 255, 255, 0.0001);
    // box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
    // border-radius: 3px;
  }

  .burger::after {
    top: calc(100% - 2px);
  }

  .burger--active::before {
    transform: rotate(45deg);
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .burger--active::after {
    transform: rotate(-45deg);
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .burger--active .burger__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .menu.menu--active .menu__list {
    transform: translateX(-0%);
  }


  .menu__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 45px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    // background-color: aqua;
    // margin-bottom: 15px;
  }

  .menu__item:hover {
    background-color: #2352DEB2;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .logo {
    z-index: 2;
  }

  .menu__list {
    height: 100vh;
    background-color: #7792e0;
    background-size: cover;
    padding-top: 161px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    transform: translateX(-200%);
    transition: transform 0.5s ease-in;
  }

  .menu__link:hover::after,
  .menu__link:focus:after {
    display: none;
  }

  .menu__link:focus {
    display: none;
  }

  .menu__link::active {
    // display: none;
  }

  .menu__link:active {
    // color:#ffffff;
  }

  .header__title {
    font-size: 64px;
  }

  .skills__inner {
    display: block;
  }

  .skills__list {
    max-width: 600px;
  }

  .skills__item {
    display: block;
    text-align: center;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 60px;
  }

  .photo {
    margin: 0 auto 60px;
  }

  .service__item {
    max-width: 250px;
  }

  .service__title::before {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 795px) {
  .service__item {
    max-width: 209px;
  }


  .portfolio__item:not(:last-child) {
    margin-right: 30px;
  }

  .portfolio__gallery {
    // display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: 45px;
    // margin-bottom: 60px;
  }

}

@media (max-width: 733px) {
  body {
    font-size: 16px;
  }

  .header__title {
    font-size: 70px;
  }

  .title {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 1.3;
  }

  .title--center {
    font-style: 28px;
    line-height: 1.3;
  }

  .section--pad {
    padding: 0;
  }

  .skills__list {
    max-width: 300px;
  }

  .photo {
    margin: 0 auto 30px;
  }

  .service__item {
    max-width: 346px;
  }

  .section {
    padding: 50px 0;
  }

  .header__title {
    font-size: 56px;
  }

  .logo {
    width: 110px;
    height: 36px;
  }

  .header {
    padding: 14px 0 0;
  }

  .header__content {
    height: calc(100vh - 96px);
  }

  .menu__list {
    padding-top: 70px;
  }

  .header__link {
    width: 123px;
    height: 51px;
    font-weight: 600;
    font-size: 14px;
  }

  .header__link:hover:after {
    top: 17px;
  }

  .photo {
    max-width: 350px;
    margin: 0 auto 60px;
  }

  .skills__list {
    max-width: 370px;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 29px;
  }

  .skills__list {
    max-width: 484px;

  }

  .service__items {
    display: block;
  }

  .service__item {
    max-width: 450px;
    margin: 0 auto;
  }


  .service__title::before {
    width: 40px;
    height: 40px;
  }

  .service__title {
    padding-top: 52px;
    margin-bottom: 15px;
  }

  .portfolio__filter {
    display: block;
    text-align: center;
    // justify-content: center;
    // margin-bottom: 59px;
  }

  .portfolio__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

}

@media (max-width: 375px) {
  .title {
    font-size: 28px;
  }

  .header__title {
    font-size: 40px;
  }

  .header__content {
    height: calc(100vh - 67px);
  }

  .header__link:before {
    margin-top: 26px;
  }

  .header {
    height: 100vh;
  }

  .header__link {
    height: 60px;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 19px;
  }

  .photo {
    max-width: 300px;
    width: 100%;
    margin: 0 auto 30px;
  }

  .skills__list {
    max-width: 300px;
  }

  .service__title {
    padding-top: 47px;
    font-size: 20px;
  }

  .portfolio__item {
    font-size: 18px;
  }

  .portfolio__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .portfolio__filter {
    margin-bottom: 30px;
  }

  .portfolio__gallery {
    gap: 15px;
    margin-bottom: 30px;
  }

  .section--pad {
    padding: 0;
  }
}


// ----------------------------------------------------------
// @media (max-width: 1113px) {
//   .section {
//     padding: 50px 0;
//   }

//   .section--pad {
//     padding-top: 0;
//   }

//   .btn {
//     font-size: 18px;
//   }

//   .title {
//     left: 50%;
//     transform: translateX(-50%);
//   }

//   .menu {
//     justify-content: space-around;
//   }

//   .skills__inner {
//     display: block;
//   }

//   .photo {
//     margin: 0 auto 60px;
//   }

//   .skills__list {
//     margin: 0 auto;
//   }

//   .service__item {
//     max-width: 300px;
//   }

//   .portfolio__gallery {
//     gap: 15px;
//   }

//   // --------------------------------------------------
//   .reviews__blockquote {
//     max-width: 334px;
//     margin-right: 50px;
//   }

//   .reviews__video {
//     max-width: 385px;
//     height: 325px;
//   }

//   // ----------------------------------------------------
//   .statist__items {
//     grid-template-columns: repeat(2, 1fr);
//     gap: 45px;
//     justify-items: center;
//   }

//   .contact__address {
//     max-width: 360px;
//     padding-top: 20px;
//   }
// }

// @media (max-width: 899px) {
//   .section {
//     padding: 80px 0;
//   }

//   .header {
//     padding: 15px 0 0;
//   }

//   .header__content {
//     height: calc(100vh - 100px);
//   }

//   .menu {
//     justify-content: space-between;
//   }

//   .burger {
//     width: 30px;
//     height: 22px;
//     position: relative;
//     color: #ffffff;
//     cursor: pointer;
//     background-color: transparent;
//     border: none;
//     display: block;
//     outline: 1px solid rgba(255, 255, 255, 0);
//     z-index: 2;
//   }

//   .burger {
//     width: 30px;
//     height: 22px;
//     position: relative;
//     color: #ffffff;
//     cursor: pointer;
//     background-color: transparent;
//     border: none;
//     display: block;
//     outline: 1px solid rgba(255, 255, 255, 0);
//     z-index: 2;
//   }

//   .burger__line {
//     position: absolute;
//     left: 0;
//     top: 50%;
//     transform: translateY(-50%);
//     width: 100%;
//     height: 2px;
//     background-color: currentColor;
//     transition: transform 0.3s ease-in-out;
//   }

//   .burger::before,
//   .burger::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     width: 100%;
//     height: 2px;
//     background-color: currentColor;
//     transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
//   }

//   .burger::before {
//     top: 0;
//   }

//   .burger::after {
//     top: calc(100% - 2px);
//   }

//   .burger--active::before {
//     transform: rotate(45deg);
//     top: 50%;
//     transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
//   }

//   .burger--active::after {
//     transform: rotate(-45deg);
//     top: 50%;
//     transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
//   }

//   .menu.menu--active .menu__list {
//     transform: translateX(-0%);
//   }

//   .burger--active .burger__line {
//     transform: scale(0);
//     transition: transform 0.3s ease-in-out;
//   }

//   .menu__item {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     text-align: center;
//     height: 77px;
//     font-weight: 600;
//     font-size: 27px;
//     line-height: 1.3;
//   }

//   .menu__item:hover {
//     background-color: #2352DEB2;
//   }

//   .menu__item:not(:last-child) {
//     margin-right: 0;
//   }

//   .logo {
//     z-index: 2;
//   }

//   .menu__list {
//     height: 100vh;
//     background-color: #7792e0;
//     background-size: cover;
//     padding-top: 133px;
//     display: block;
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     z-index: 1;
//     transform: translateX(-200%);
//     transition: transform 0.5s ease-in;
//   }

//   .menu__link:hover::after,
//   .menu__link:focus:after {
//     display: none;
//   }

//   .menu__link:focus {
//     display: none;
//   }

//   .service__title {
//     font-size: 24px;
//   }

//   .service__item {
//     max-width: 209px;
//   }

//   .reviews__inner {
//     display: block;
//   }

//   .reviews__blockquote {
//     margin: 0 auto 60px;
//     // margin-bottom: 60px;
//   }

//   .reviews__video {
//     max-width: 493px;
//     margin: 0 auto;
//   }

//   .contact__inner {
//     // display: grid;
//     flex-direction: column;
//     align-items: center;
//   }

//   .contact__address {
//     max-width: 536px;
//     margin-bottom: 50px;
//   }

//   // .contact__label:not(:last-child) {
//   //   margin-right: 0px;
//   //   margin-bottom: 30px;
//   // }

//   // .contact__info {
//   //   flex-direction: column;
//   // }

//   // .contact__label {
//   //   max-width: 540px;
//   // }

// }

// @media (max-width: 768px) {
//   .section--pad {
//     padding-top: 0;
//   }

//   .logo__img {
//     max-width: 130px;
//   }

//   .menu__item {
//     height: 63px;
//     font-size: 20px;
//   }

//   .menu__list {
//     padding-top: 104px;
//   }

//   .header__title {
//     font-size: 87px;
//   }

//   .header__title span {
//     font-size: 41px;
//   }

//   .skills__item {
//     flex-direction: column;
//     margin-bottom: 60px;
//   }

//   .skills__list {
//     max-width: 425px;
//   }

//   .skills__text {
//     text-align: center;
//     padding-bottom: 5px;
//   }

//   .service__text {
//     max-width: 80%;
//     font-size: 18px;
//   }

//   .service__items {
//     display: block;
//   }

//   .service__title {
//     padding-top: 64px;
//     margin-bottom: 13px;
//   }

//   .service__item {
//     max-width: 100%;
//   }

//   .service__item:not(:last-child) {
//     margin-bottom: 60px;
//   }

//   .portfolio__filter {
//     display: block;
//     text-align: center;
//   }

//   .portfolio__item:not(:last-child) {
//     margin-right: 0px;
//     margin-bottom: 30px;
//   }

//   .portfolio__gallery {
//     grid-template-columns: repeat(2, 1fr);
//     gap: 45px;
//   }

//   .reviews__blockquote {
//     max-width: 345px;
//     height: 269px;
//     margin: 0 auto 90px;
//   }

//   .statist__item::before {
//     width: 72px;
//     height: 64px;
//   }

// }

// @media (max-width: 576px) {

//   body {
//     font-size: 16px;
//   }

//   .section--pad {
//     padding-top: 0;
//   }

//   .title {
//     font-size: 28px;
//     margin-bottom: 30px;
//   }

//   .header__title {
//     font-size: 62px;
//   }

//   .header__title span {
//     font-size: 28px;
//   }

//   .menu__item {
//     height: 55px;
//     font-size: 22px;
//   }

//   .menu__item {
//     height: 50px;
//     font-size: 18px;
//   }

//   .skills__text {
//     font-size: 18px;
//   }

//   .skills__item {
//     margin-bottom: 30px;
//   }

//   .service__title::before {
//     width: 50px;
//     height: 50px;
//     // top: 28px;
//   }

//   .portfolio__gallery {
//     gap: 15px;
//   }

//   .portfolio__item:not(:last-child) {
//     margin-bottom: 15px;
//   }

//   // -----------------------------------------------------------------
//   .reviews__inner {
//     position: relative;
//     max-width: 375px;
//     height: 269px;
//     margin: 0 auto;
//   }

//   .reviews__blockquote {
//     margin-bottom: 0;
//   }

//   .reviews__video {
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
//     position: absolute;
//     left: 158px;
//     top: 73px;
//     right: 0;
//     bottom: 0;
//   }

//   .reviews__link:hover,
//   .reviews__link:focus,
//   .reviews__link:active {
//     border-radius: 50%;
//   }

//   .reviews__comment {
//     font-size: 16px;
//   }

//   .reviews__link::before {
//     width: 17px;
//     height: 20px;
//     left: 25px;
//     background-size: cover;
//   }

//   .statist__items {
//     gap: 25px;
//   }


//   .statist__item {
//     font-size: 14px;
//     padding-top: 45px;
//     height: 240px;
//   }

//   .statist__item::before {
//     top: 28px;
//   }

//   .statist__item span {
//     margin-top: 20px;
//     font-size: 30px;
//   }

//   .contact__inner {
//     align-items: flex-start;
//   }

//   .contact__address {
//     max-width: 390px;
//   }

//   .contact__info {
//     flex-direction: column;
//   }

//   .contact__label:not(:last-child) {
//     margin-right: 0px;
//     margin-bottom: 20px;
//   }

//   .contact__send {
//     display: block;
//   }
// }

// @media (max-width: 375px) {
//   .section {
//     padding: 50px 0;
//   }

//   .header__title {
//     font-size: 40px;
//   }

//   .header__title span {
//     font-size: 28px;

//   }

//   .header__link {
//     height: 56px;
//   }

//   .logo__img {
//     max-width: 110px;
//   }

//   .menu__item {
//     height: 45px;
//   }

//   .menu__list {
//     padding-top: 70px;
//   }

//   .header__content {
//     height: calc(100vh - 60px);
//   }

//   .header__link {
//     font-size: 14px;
//   }

//   .header__link:before {
//     padding-top: 26px;
//   }

//   .about__text p:not(:last-child) {
//     margin-bottom: 20px;
//   }

//   .photo {
//     max-width: 300px;
//     margin-bottom: 30px;
//   }

//   .skills__list {
//     max-width: 300px;
//   }

//   .service__item:not(:last-child) {
//     margin-bottom: 26px;
//   }

//   .service__title::before {
//     width: 40px;
//     height: 40px;
//   }

//   .service__title {
//     font-size: 20px;
//     padding-top: 50px;
//     margin-bottom: 15px;
//   }

//   .service__text {
//     max-width: 100%;
//     font-size: 16px;
//   }

//   .portfolio__item {
//     font-size: 18px;
//   }

//   .portfolio__gallery {
//     margin-bottom: 30px;
//   }

//   .portfolio__filter {
//     margin-bottom: 33px;
//   }

//   .reviews__photo {
//     margin: 0 auto 28px;
//   }

//   .reviews__video {
//     left: 113px;
//     top: 88px;
//   }

//   .reviews__name {
//     font-size: 20px;
//   }

//   .statist__items {
//     gap: 15px;
//   }

//   .statist__item::before {
//     width: 34px;
//     height: 35px;
//     top: 20px;
//   }

//   .statist__item {
//     height: 170px;
//   }

//   .statist__item span {
//     margin-top: 10px;
//   }

//   .statist__title {
//     max-width: 135px;
//     font-size: 14px;
//   }

//   .contact__label {
//     max-width: 345px;
//   }

//   .contact__inner {
//     padding-top: 0px;
//   }
// }
// -------------------------------------------------------------------------
// @media (max-width: 1113px) {
//   .section {
//     padding: 110px 0;
//   }

//   .title {
//     left: 50%;
//     transform: translateX(-50%);
//   }

//   .menu {
//     justify-content: space-around;
//   }

//   .skills__inner {
//     display: block;
//   }

//   .photo {
//     margin: 0 auto 60px;
//   }

//   .skills__list {
//     margin: 0 auto;
//   }

//   .service__item {
//     max-width: 300px;
//   }

//   // ------------------------------------------------------
//   .portfolio__gallery {
//     gap: 15px;
//   }

//   // -------------------------------------------------------------
//   .reviews__blockquote {
//     max-width: 334px;
//     margin-right: 50px;
//   }

//   .reviews__video {
//     max-width: 385px;
//     height: 325px;
//   }

//   .statist__items {
//     grid-template-columns: repeat(2, 1fr);
//     gap: 45px;
//     justify-items: center;
//   }

//   .contact__address {
//     max-width: 360px;
//     padding-top: 20px;
//   }

//   .contact__address {
//     max-width: 360px;
//     padding-top: 20px;
//   }
// }

// @media (max-width: 899px) {
//   .section {
//     padding: 80px 0;
//   }

//   .header {
//     padding: 15px 0 0;
//   }

//   .header__content {
//     height: calc(100vh - 100px);
//   }

//   .logo {
//     z-index: 2;
//   }

//   .menu {
//     justify-content: space-between;
//   }

//   .menu.menu--active .menu__list {
//     transform: translateX(0%);
//   }

//   .menu__item {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     text-align: center;
//     height: 77px;
//     font-weight: 600;
//     font-size: 27px;
//     line-height: 1.3;
//   }

//   .menu__item:hover {
//     background-color: #2352DEB2;
//   }

//   .menu__item:not(:last-child) {
//     margin-right: 0;
//   }

//   .menu__list {
//     height: 100vh;
//     background-color: #7792e0;
//     background-size: cover;
//     padding-top: 133px;
//     display: block;
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     z-index: 1;
//     transform: translateX(-200%);
//     transition: transform 0.5s ease-in;
//   }

//   .menu__link:hover::after,
//   .menu__link:focus:after {
//     display: none;
//   }

//   .menu__link:focus {
//     display: none;
//   }

//   .burger {
//     width: 30px;
//     height: 22px;
//     position: relative;
//     color: #ffffff;
//     cursor: pointer;
//     background-color: transparent;
//     border: none;
//     display: block;
//     outline: 1px solid rgba(255, 255, 255, 0);
//     z-index: 2;
//   }

//   .burger {
//     width: 30px;
//     height: 22px;
//     position: relative;
//     color: #ffffff;
//     cursor: pointer;
//     background-color: transparent;
//     border: none;
//     display: block;
//     outline: 1px solid rgba(255, 255, 255, 0);
//     z-index: 2;
//   }

//   .burger__line {
//     position: absolute;
//     left: 0;
//     top: 50%;
//     transform: translateY(-50%);
//     width: 100%;
//     height: 2px;
//     background-color: currentColor;
//     transition: transform 0.3s ease-in-out;
//   }

//   .burger::before,
//   .burger::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     width: 100%;
//     height: 2px;
//     background-color: currentColor;
//     transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
//   }

//   .burger::before {
//     top: 0;
//   }

//   .burger::after {
//     top: calc(100% - 2px);
//   }

//   .burger--active::before {
//     transform: rotate(45deg);
//     top: 50%;
//     transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
//   }

//   .burger--active::after {
//     transform: rotate(-45deg);
//     top: 50%;
//     transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
//   }



//   .burger--active .burger__line {
//     transform: scale(0);
//     transition: transform 0.3s ease-in-out;
//   }






//   .service__title {
//     font-size: 24px;
//   }

//   .service__item {
//     max-width: 209px;
//   }

//   .reviews__inner {
//     display: block;
//   }

//   .reviews__blockquote {
//     margin: 0 auto 60px;
//     // margin-bottom: 60px;
//   }

//   .reviews__video {
//     max-width: 493px;
//     margin: 0 auto;
//   }

//   .contact__inner {
//     // display: grid;
//     flex-direction: column;
//     align-items: center;
//   }

//   .contact__address {
//     max-width: 536px;
//     margin-bottom: 50px;
//   }

//   // .contact__label:not(:last-child) {
//   //   margin-right: 0px;
//   //   margin-bottom: 30px;
//   // }

//   // .contact__info {
//   //   flex-direction: column;
//   // }

//   // .contact__label {
//   //   max-width: 540px;
//   // }
// }

// @media (max-width: 768px) {
//   .logo__img {
//     max-width: 130px;
//   }

//   .menu__item {
//     height: 63px;
//     font-size: 20px;
//   }

//   .menu__list {
//     padding-top: 104px;
//   }

//   .header__title {
//     font-size: 87px;
//   }

//   .header__title span {
//     font-size: 41px;
//   }

//   .skills__item {
//     flex-direction: column;
//     margin-bottom: 60px;
//   }

//   .skills__list {
//     max-width: 425px;
//   }

//   .skills__text {
//     text-align: center;
//     padding-bottom: 5px;
//   }

//   .service__text {
//     max-width: 80%;
//     font-size: 18px;
//   }

//   .service__items {
//     display: block;
//   }

//   .service__title {
//     padding-top: 64px;
//     margin-bottom: 13px;
//   }

//   .service__item {
//     max-width: 100%;
//   }

//   .service__item:not(:last-child) {
//     margin-bottom: 60px;
//   }

//   .portfolio__filter {
//     display: block;
//     text-align: center;
//   }

//   .portfolio__item:not(:last-child) {
//     margin-right: 0px;
//     margin-bottom: 30px;
//   }

//   .portfolio__gallery {
//     grid-template-columns: repeat(2, 1fr);
//     gap: 45px;
//   }

//   .reviews__blockquote {
//     max-width: 345px;
//     height: 269px;
//     margin: 0 auto 90px;
//   }

//   .statist__item::before {
//     width: 72px;
//     height: 64px;
//   }
// }

// @media (max-width: 576px) {
//   body {
//     font-size: 16px;
//   }

//   .title {
//     font-size: 40px;
//     margin-bottom: 30px;
//   }

//   .header__title {
//     font-size: 62px;
//   }

//   .header__title span {
//     font-size: 28px;
//   }

//   .menu__item {
//     height: 55px;
//     font-size: 22px;
//   }

//   .menu__item {
//     height: 50px;
//     font-size: 18px;
//   }

//   .skills__text {
//     font-size: 18px;
//   }

//   .skills__item:not(:last-child) {
//     margin-bottom: 33px;
//   }

//   .service__title::before {
//     width: 50px;
//     height: 50px;
//   }

//   .portfolio__gallery {
//     gap: 15px;
//   }

//   .portfolio__item:not(:last-child) {
//     margin-bottom: 15px;
//   }

//   .reviews__inner {
//     position: relative;
//     max-width: 375px;
//     height: 269px;
//     margin: 0 auto;
//   }

//   .reviews__blockquote {
//     margin-bottom: 0;
//   }

//   .reviews__video {
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
//     position: absolute;
//     left: 158px;
//     top: 73px;
//     right: 0;
//     bottom: 0;
//   }

//   .reviews__link:hover,
//   .reviews__link:focus,
//   .reviews__link:active {
//     border-radius: 50%;
//   }

//   .reviews__comment {
//     font-size: 16px;
//   }

//   .reviews__link::before {
//     width: 17px;
//     height: 20px;
//     left: 25px;
//     background-size: cover;
//   }

//   .statist__items {
//     gap: 25px;
//   }


//   .statist__item {
//     font-size: 14px;
//     padding-top: 44px;
//     height: 240px;
//   }

//   .statist__item::before {
//     top: 28px;
//   }

//   .statist__item span {
//     // margin-top: 20px;
//     font-size: 30px;
//   }

//   .contact__inner {
//     align-items: flex-start;
//   }

//   .contact__address {
//     max-width: 390px;
//   }

//   .contact__info {
//     flex-direction: column;
//   }

//   .contact__label:not(:last-child) {
//     margin-right: 0px;
//     margin-bottom: 20px;
//   }

//   .contact__send {
//     display: block;
//   }
// }

// @media (max-width: 375px) {
//   .section {
//     padding: 50px 0;
//   }

//   .section--pad {
//     padding-top: 0px;
//   }

//   .title {
//     font-size: 28px;
//   }

//   .header__title {
//     font-size: 40px;
//   }

//   .header__title span {
//     font-size: 28px;
//   }

//   .header__link {
//     height: 56px;
//   }

//   .logo__img {
//     max-width: 110px;
//   }

//   .menu__item {
//     height: 45px;
//   }

//   .menu__list {
//     padding-top: 70px;
//   }

//   .header__content {
//     height: calc(100vh - 60px);
//   }

//   .header__link {
//     font-size: 14px;
//   }

//   .header__link:before {
//     padding-top: 26px;
//   }

//   .about__text p:not(:last-child) {
//     margin-bottom: 22px;
//   }

//   .photo {
//     max-width: 300px;
//     margin-bottom: 30px;
//     height: 325px;
//   }

//   .skills__list {
//     max-width: 300px;
//   }

//   .service__item:not(:last-child) {
//     margin-bottom: 29px;
//   }

//   .service__title::before {
//     width: 40px;
//     height: 40px;
//   }

//   .service__title {
//     font-size: 20px;
//     padding-top: 50px;
//     margin-bottom: 15px;
//     // margin-top: 13px;
//   }

//   .service__text {
//     max-width: 100%;
//     font-size: 16px;
//   }

//   .portfolio__item {
//     font-size: 18px;
//   }

//   .portfolio__gallery {
//     margin-bottom: 30px;
//   }

//   .portfolio__filter {
//     margin-bottom: 33px;
//   }

//   .btn--center {
//     font-size: 18px;

//   }

//   .reviews__photo {
//     margin: 0 auto 28px;
//   }

//   .reviews__video {
//     left: 113px;
//     top: 88px;
//   }

//   .reviews__name {
//     font-size: 20px;
//   }

//   .statist__items {
//     // height: 515px;
//     gap: 15px;
//   }

//   .statist__item::before {
//     width: 34px;
//     height: 35px;
//     top: 28px;
//   }

//   .statist__item {
//     height: 170px;
//   }

//   .statist__title {
//     // margin-top: 13px;
//   }

//   .statist__item span {
//     // margin-top: 10px;
//   }

//   .statist__title {
//     max-width: 135px;
//     font-size: 14px;
//   }

//   .contact__label {
//     max-width: 345px;
//   }

//   .contact__inner {
//     padding-top: 0px;
//   }

//   .contact__address {
//     // max-width: 360px;
//     padding-top: 0px;
//     margin-bottom: 34px;
//   }

//   .contact__address {
//     // max-width: 536px;

//   }

//   .contact__network {
//     // display: flex;
//     margin-top: 30px;
//   }

//   .contact__label:not(:last-child) {
//     // margin-right: 0px;
//     margin-bottom: 10px;
//   }

//   .contact__info {
//     // display: flex;
//     // justify-content: space-between;
//     margin-bottom: 10px;
//   }

//   .contact__send {
//     // display: grid;
//     // height: 143px;
//     margin-bottom: 15px;
//   }

//   .footer__logo {
//     padding: 32px 0;
//   }
// }